@{
    ViewData["Title"] = "Bootstrap Practice";
}
<h1 class="px-4">Bootstrap Practice</h1>
<main class="container mb-4 px-4">
    <h3>Bootstrap grid</h3>
    <div class="row">
        <div class="col-12 blue-div">Column 1</div>
        <div class="col-12 blue-div">Column 2</div>
    </div>
    <div class="row">
        <div class="col-md-4 blue-div">Column A</div>
        <div class="col-md-8 blue-div">Column B</div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 blue-div">Column 1A</div>
        <div class="col-md-8 col-sm-6 blue-div">Column 2A</div>
    </div>
</main>
<br />
<form asp-action="Login" method="post" class="mt-4 px-4">
    <h3>Forms Vertical Layout</h3>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input id="email" type="email" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Password</label>
        <input id="pwd" type="password" class="form-control" />
    </div>
    <div>
        <label for="major" class="form-label">Major:</label>
        <select id="major" class="form-select">
            <option value="Computer Science">Computer Science</option>
            <option value="Film">Film</option>
            <option value="Business">Buisness</option>
        </select>
    </div>
</form>
<br />
<form asp-action="Login" method="post" class="mt-4 px-4">
    <h3>Forms Floating Labels</h3>
    <div class="form-floating mb-3">
        <input id="email" type="email" class="form-control" />
        <label for="email">Email</label>
    </div>
    <div class="form-floating">
        <input id="pwd" type="password" class="form-control" />
        <label for="pwd">Password</label>
    </div>
</form>
<br />
<form asp-action="Login" method="post" class="mt-4 mb-8 px-4">
    <h3>Forms Horizontal Layout</h3>
    <div class="row mb-3 .horizontal-div">
        <label for="email" class="col-form-label col-md-2">Email:</label>
        <div class="row">
            <input id="email" type="email" class="form-control" />
        </div>
    </div>
    <div class="row">
        <label for="pwd" class="col-form-label col-md-2">Password:</label>
        <div>
            <input id="pwd" type="password" class="form-control" />
        </div>
    </div>
</form>
<br />
<h3>Buttons and Images</h3>
<div class="container">
    <header class="p-4 mt-2 mb-4 bg-light rounded border">
        <img id="logo" alt="Murach logo" src="~/Images/MurachLogo.jpg" class="img-fluid rounded"/>
    </header>
    <br />
    <main>
        <form asp-action="Index" method="post">
            <span class="me-2">I accept the terms of this site:</span>
            <button type="submit" class="btn btn-primary p-3 me-2">Yes</button>
            <a asp-action="Index" class="btn btn-outline-secondary p-3">No</a>
        </form>
    </main>
</div>
<br />
<h3>Formatting Tables</h3>
<table class="table m-5">
    <thead>
        <tr><th>Video Game</th><th>Genre</th><th>Platform</th></tr>
    </thead>
    <tbody>
        <tr><td>Assetto Corsa Evo</td><td>Racing</td><td>PC</td></tr>
        <tr><td>Assetto Corsa Competezione</td><td>Racing</td><td>PC</td></tr>
        <tr><td>Silent Hill 2: Remake</td><td>Horror</td><td>Playstation 5</td></tr>
    </tbody>
</table>
<br />
<table class="table table-striped table-bordered table-hover m-5">
    <thead>
        <tr><th class="w-25">Video Game</th><th>Genre</th><th>Platform</th></tr>
    </thead>
    <tbody>
        <tr><td>Assetto Corsa Evo</td><td>Racing</td><td>PC</td></tr>
        <tr><td>Assetto Corsa Competezione</td><td>Racing</td><td>PC</td></tr>
        <tr><td>Silent Hill 2: Remake</td><td>Horror</td><td>Playstation 5</td></tr>
    </tbody>
</table>
<br />
<h3>Text alignment and capitalize text</h3>
<p class="text-end">
    This text is <span class="text-uppercase">right aligned</span>.
</p>
<p class="text-center">
    <span class="text-capitalize">This text is centered</span>
</p>
<p class="text-start">
    This text is <span class="text-lowercase">LEFT-ALIGNED</span>.
</p>
<br />
<h3>How to provide context</h3>
<div class="m-5">
<h5>Some examples of the context classes applied to buttons</h5>
<p class="btn btn-primary">Primary</p>
<p class="btn btn-secondary">Secondary</p>
<p class="btn btn-success">Success</p>
<p class="btn btn-info">Info</p>
<p class="btn btn-warning">Warning</p>
<p class="btn btn-danger">Danger</p>
</div>
<div class="m-5">
    <h6>The success class applied to a text of an element</h6>
    <p class="text-success">Congratlations! You beat Eldin Ring!</p>
</div>
<div class="m-5">
    <h6>The warning class applied to the background of an element.</h6>
    <p class="bg-warning p-2 rounded">Warning! Enter as you wish but death lures upon these doors.</p>
</div>
<br />
<h3>How to work with button groups</h3>
<h5 class="ms-5">A basic button group</h5>
<div class="btn-group ms-5 mb-3" role="group" aria-label="Button group">
    <a href="/" class="btn btn-outline-primary">Home</a>
    <a href="/Cart" class="btn btn-outline-primary">Cart</a>
    <a href="/Products" class="btn btn-outline-primary">Products</a>
    <a href="/Contact Us" class="btn btn-outline-primary">Contact Us</a>
</div>
<h5 class="ms-5">A toolbar with two buttons</h5>
<div class="btn-toolbar ms-5 mb-5" role="toolbar" aria-label="Toolbar with groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
        <a href="/" class="btn btn-outline-primary">Home</a>
        <a href="/Cart" class="btn btn-outline-primary">Cart</a>
    </div>
    <div class="btn-group" role="group" aria-label="Second group">
        <a href="/Products" class="btn btn-outline-secondary">Products</a>
        <a href="/Contact Us" class="btn btn-outline-info">Contact Us</a>
    </div>
</div>